* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* ------------------流程图--------------------- */
#flowchart-wrapper {
  width: 100%;
  padding: 0 10vw;
  position: relative;
  text-align: center;
  font-size: 1rem;
}
/* 每个小元素 */
#flowchart-wrapper span {
  display: block;
  border: 1px solid #999;
  border-radius: 0.2rem;
  position: relative;
  background-color: #fff;
  width: 25vw;
  height: 7.5vw;
  padding: 0.7vw;
  margin: 7vw auto;
}

/* 下方的竖线 */
#flowchart-wrapper span::before {
  content: "";
  position: absolute;
  background-color: #999;
  width: 1px;
  left: 50%;
  transform: translateX(-50%);
  height: 7.5vw;
  bottom: -7.5vw;
}
#flowchart-wrapper > div {
  display: flex;
  justify-content: space-between;
  position: relative;
  z-index: 2;
}
#flowchart-wrapper .center-line {
  justify-content: center;
}
/* 显示在中间位置的，含有下方的border */
#flowchart-wrapper > div.center-line {
  border-bottom: 1px solid #999;
  width: 55vw;
  margin: auto;
}
/* 显示在中间位置的，非第一排的元素，含有上方的border */
#flowchart-wrapper .second-center-line {
  border-top: 1px solid #999;
}
/* 第二个中间元素的上面竖线 */
#flowchart-wrapper .second-center-line span::after {
  content: "";
  position: absolute;
  background-color: #999;
  width: 1px;
  left: 50%;
  transform: translateX(-50%);
  height: 7.5vw;
  top: -7.5vw;
}
/* 第一排上面的竖线 */
#flowchart-wrapper .left-line span:first-of-type::after,
#flowchart-wrapper .right-line span:first-of-type::after {
  content: "";
  position: absolute;
  background-color: #999;
  width: 1px;
  left: 50%;
  transform: translateX(-50%);
  height: 7.5vw;
  top: -7.5vw;
}
/* 右边的最特殊的一根竖线 */
#flowchart-wrapper .first-inner-wrapper .right-line span:last-of-type::before {
  /* 一个 */
  /* height: calc(20.5vw + 6px);
  bottom: calc(-20.5vw - 6px); */
  /* 两个 */
  height: calc(35vw + 6px);
  bottom: calc(-35vw - 6px);
  /* 三个 */
  /* height: calc(49.5vw + 6px);
  bottom: calc(-49.5vw - 6px); */
  /* 多一个增加14.5vw即可 */
}
/* 最下排右边 */
#flowchart-wrapper .second-inner-wrapper .right-line span:last-of-type::before {
  display: block;
  width: 15.5vw;
  left: -8vw;
  top: -11vw;
  height: 14.5vw;
  border-left: 1px solid #999;
  border-bottom: 1px solid #999;
  background-color: transparent;
}
/* 最下排左边 */
#flowchart-wrapper .second-inner-wrapper .left-line span:last-of-type::before {
  display: block;
  width: 14vw;
  border-left: 1px solid #999;
  border-bottom: 1px solid #999;
  background-color: transparent;
  height: 0;
  left: 32vw;
  top: -11vw;
}
/* ----------------------箭头-------------------- */
/* 最下排左边箭头 */
#flowchart-wrapper .second-inner-wrapper .left-line span:last-of-type::after {
  content: "";
  position: absolute;
  border-right: 1px solid #999;
  border-top: 1px solid #999;
  width: 5px;
  height: 5px;
  transform: rotate(225deg);
  top: calc(-11.5vw - 1px);
  left: 25vw;
}
#flowchart-wrapper .arrow {
  position: absolute;
  border-right: 1px solid #999;
  border-top: 1px solid #999;
  width: 5px;
  height: 5px;
  transform: rotate(135deg);
  top: -2vw;
  left: 11.7vw;
}
/* ---------------文字------------------ */
#flowchart-wrapper > div.second-center-line::before {
  content: "合格";
  color: #999;
  bottom: 0vw;
  left: 6vw;
  position: absolute;
  font-size: 0.7rem;
}
#flowchart-wrapper > div.second-center-line::after {
  content: "不合格";
  color: #999;
  bottom: 0vw;
  right: 3.5vw;
  position: absolute;
  font-size: 0.7rem;
}
