<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>underscore</title>
</head>

<body>
    <div id="res"></div>
    <script type="text/html" id="app">
        <%for ( var i = 0; i < data.length; i++ ) { %>
            <li>
                <a href="<%=data[i].url%>">
                    <%=data[i].name%>
                </a>
            </li>
        <% } %>
        <% console.log(1) %>
    </script>
    <script type="module">
        import _ from './index.js';
        import t from './template.js';

        console.dir(_);

        var users = [
            { "name": "Byron", "url": "http://localhost" },
            { "name": "Casper", "url": "http://localhost" },
            { "name": "Frank", "url": "http://localhost" }
        ];
        
        res.innerHTML = t(document.getElementById('app').innerHTML)(users)
    </script>
</body>

</html>