<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>

<body>
  <div id="app">
    <input type="text" v-model="a.b">
    <br>
    <input type="text" v-model="c">
    <br>
    b: {{ a.b }}
    <br>
    c: {{c}}
    <br>
    getAC: {{getAC}} ----- b: {{a.b}}
    <br>
  </div>
  <button id="btn">点我</button>

  <script type="module">
    import Mvvm from './index.js';

    const vm = new Mvvm({
      el: '#app',
      data: {
        a: {
          b: 1
        },
        c: 2
      },
      computed: {
        getAC() {
          return this.a.b + this.c;
        }
      },
      mounted() {
      }
    });

    document.getElementById('btn').addEventListener('click', e => {
      vm.c = Math.random();
    });

    console.log(vm);

    
  </script>
</body>

</html>